{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>Airdely</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/style.css' %}" >
       <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select-style.css' %}">

    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    
   
<div class="page_header">
  <div class="container">
    <h1>AIRDELY PRIVACY POLICY STATEMENT</h1>
  </div>
</div>
<div class="page_content">
<div class="container">
{% if privacypolicy_content %}
  {{privacypolicy_content|safe|escape}}
{% else %}
<h4>Your privacy, our policy</h4>
<p>In this Privacy Policy (“Policy”) in accordance with the Personal Data Protection Act
2012 of the Republic of Singapore(”PDPA”), AIRDELY TECHNOLOGIES Pte Ltd
(“AIRDELY) will explain to you about the purposes for which AIRDELY collects, uses
and discloses your personal date. AIRDELY is a technological logistics service provider
including the domestic and international courier services and the fulfillment services on
behalf of both offline and online Customers, Air travellers, any other client (“Clients”) to
any individual who purchased goods/items/services. Our employees, contractors, partners
or other parties who are working on our half shall abide by PDPA and shall make the
continuous efforts to protect your personal data. AIRDELY reserves the right to amend
and revise the Policy from time to time.</p>
<p>This privacy policy is designed to tell you about AIRDELY’S practices regarding
collection, use, disclosure and storage of personal information (as defined below) that
you may provide to us either directly or via any electronic media.</p>
<p>Please be sure to read this entire privacy policy before using or submitting information.
The current website is controlled by AIRDELY TECHNOLOGIES PTE LTD. With it
registered office in Singapore, also on behalf of its group entities (together referred to as
“AIRDELY” or “we”) and is governed by Singapore law.</p>
<h4>PERSONAL INFORMATION</h4>
<p>Examples of customer information that we collect include names, information on your
shipment, addresses, e-mail addresses and telephone numbers. Some of the information
collected by AIRDELY is data which relates to an identifiable person (&quot;Personal
Information&quot;). In addition, to carry out task and placing order using AIRDELY platforms,
you will be asked to submit your National ID Card and passport for verification.</p>
<h4>INFORMATION WE COLLECT THROUGH THE SITES</h4>
<p>When engage in any financial transaction on one of our Sites, you will be asked
to provide information necessary to facilitate the transaction, such as your credit card
or debit card number, associated security code, telephone number, and billing address.</p>
<p>In connection with your registration as an AIRDELY Member, you may be asked
to provide certain personal information, such as your name, email address, mailing
address, date of birth or age, and a picture of a document such as your national ID card,
passport or other form of ID.</p>

<p>If you sign up on one of our Sites to receive email communications from us, you may
be asked to provide us with your name or e-mail address.</p>
<p>We may collect information about you when you participate in a promotion that
we sponsor, such as a contest (which we may sponsor alone or co-sponsor with one
or more third parties). To participate in one of our promotions, you may be asked
to provide your name and your email address, mailing address and/or other contact
information. For some promotions, we may request other information about you as well.</p>
<p>You and other Members may be allowed to post comments and other content on certain
portions of our Sites, such as on a discussion board, blog or other interactive forum.</p>
<p>We may collect any information that you or another user posts about you on one of our
Sites, including personal information about you, and it may be available to all users who
have access to the Site. Please keep this in mind when considering what information
to post to our Sites.</p>
<p>Our Sites may include the ability for you and other users to link to one or more social
networking platforms (such as Facebook or Twitter). We may receive information about
you when you choose to post or otherwise share information about us on any of these
social networking platforms. Note that any information that you or others post to a social
networking platform will be accessible by any users of such platform, subject to its terms
of service and privacy policy.</p>
<p>Our Sites may incorporate functionality enabling you to sign-on using your login
information from a social networking platform, in lieu of creating a new login account
specifically for the Site. If we incorporate such functionality and you use it to sign into
any of our Sites, we may collect information about you from the social networking
platform, such as your list of friends, “likes,” and interests, as well as your contact
information.</p>
<p>When you use or access any of our Sites, we may collect certain usage data generated
by your activities on the Sites, including your purchasing history, pages viewed, number
of bytes transferred, hyperlinks clicked, and other actions you take on our Sites. Each
of our Sites may also track the URL that you visited before you come to the Site, the
URL to which you next go, and your Internet Protocol (IP) address or mobile device
identifier.</p>
<p>Some of our Sites may collect information about your location, such as the approximate
location of your IP address. Unless you provide us with your permission, this location
data is collected anonymously in a form that does not personally identify you.</p>
<p>As with most websites, we use cookies, web beacons, and other online information-
gathering tools in connection with our Sites. These tools are intended to make using our
Sites easier by, among other things, saving your preferences for you. We may also use
cookies to deliver content tailored to your interests. If your browser is set to reject
cookies, or if your browser notifies you that you are about to receive a cookie and you
reject it, then your use of our Site may not be as efficient as it would be if the cookie
were enabled.</p>
<p>We may incorporate third-party ads and other third-party content on our Sites, and
integrate other third-party offerings into the Sites, enabling certain such third parties
to collect information about you or your online activities across other websites and over
time through your use of our Sites. Any information collected through such integrated
technologies is collected directly by these third parties for use by such third parties and
other authorized parties, subject to the privacy policies of those other parties.</p>
<p>When you submit an inquiry or otherwise correspond through one of our Sites, you may
be asked to provide your name, email address, and/or other personal information to us.
We may keep indefinitely the information about you collected through our Sites.</p>
<h4>TRANSFER of PERSONAL INFORMATION</h4>
<p>Your Personal Information may be transferred to countries outside, which do not provide
an adequate level of protection, in order to perform our services. In addition, if you put
your Personal Information on publicly available parts of the website, this may be
accessed by persons in countries outside Singapore, which may not offer an adequate
level of protection.</p>
<p>AIRDELY may need to transfer your information to local or national (foreign)
governments, in order to comply with the applicable law or in order to expedite the
clearance and delivery of your package to its destination.</p>
<h4>FAIR and SECURE PROCESSING of YOUR PERSONAL INFORMATION</h4>
<p>It is our policy to take all necessary steps to ensure that all your Personal Information
held by us is processed fairly and lawfully. We will take all necessary steps to implement
and maintain this Privacy Policy. All our employees and data processors that have access
to Personal Information are obliged to respect the confidentiality of your Personal
Information.</p>
<h4>ACCESS and CORRECTION</h4>
<p>You can find out which of your Personal Information is held by AIRDELY by our office.
We will acknowledge your request within 4 weeks. Should we be prevented from
disclosing your personal information we will give reasons for any such refusal. To keep
your Personal Information accurate, current, and complete, please contact us as about any
incorrect information. We will update or correct Personal Information in our possession.</p>

<h4>LOG INFORMATION</h4>
<p>When you use the Service, our servers automatically record information that your
browser sends during your use of the Service. These server logs may include information
such as your web request, Internet Protocol address, browser type, browser language, the
date and time of your request and one or more cookies that may uniquely identify your
browser and mobile device</p>
<h4>USER COMMUNICATION</h4>
<p>When you send email or other communication to AIRDELY, we may collect the personal
information you provide us and may use it in order to process your inquiries, respond to
your requests and improve our services.</p>
<p>As an AIRDELY customer you may receive occasional marketing communications
regarding our products and services. You can opt out of receiving marketing
communications from AIRDELY please contact us or follow the unsubscribe instructions
included in our marketing communications.</p>
<h4>COOKIES</h4>
<p>Cookies are small text files that a website can send to a user&#39;s browser for storage on the
hard drive. Cookies can make use of the web easier by saving and administering status,
application, preferences and other user information. Most browsers are initially set to
accept cookies but users can change the setting to refuse cookies or to be alerted when
cookies are being sent. </p>
<p>When you view this website, AIRDELY may store some information on your computer.
This will be in the form of a cookie file. We use cookies to store information which we
may use to improve the content of our site and to customise the site to your preferences.
AIRDELY also uses cookies to gather statistics on the use of www.AIRDELY.com . No
information is passed to AIRDELY from any AIRDELY.com cookie or its use. The
cookie can only be accessed by www.AIRDELY.com . </p>
<p>We consider your browser settings to reflect your consent to, or refusal of, the cookies we
use on our website. If you prefer not to accept cookies or if you prefer to be warned when
one is being used, you can update the settings of your Internet browser. If you or your site
administrator have cookies disabled, the website will continue to work; however, no parts
of the website (inclusive of shipping tools, tracking and tracing of packages, transaction
history, promotions and alerts) will not work if cookies are disabled. </p>
<p>We also use third-party services (such as Google Analytics) to collect aggregate
information about the visitors to our website. These third-party services use cookies to
provide us with non-personally identifiable information about your visit to this website
(e.g. the number visits, location from which you visited this website and the number of
pages you visited on this website). We use this information to improve the presentation
and content of this website. Please note that data that is collected by these third-party
services outside www.AIRDELY.com – if any – will not be governed by this privacy
policy, but by the privacy policies of the respective third party.</p>
<h4>LINKS to OTHER WEBSITES</h4>
<p>This website may contain links or references to other websites as a convenience to the
user. Please be aware that AIRDELY is not responsible for the privacy practices or the
content of such other websites and that, in any case, this Privacy Policy does not apply to
those websites. We encourage you to read the privacy policy of every web site you visit.
E-mail address</p>
<p>Your email address will only be used for keeping you informed as indicated, for
verification and retrieval of your account when required. If you wish to unsubscribe from
our e-mail alert list, you can do so at any moment as indicated in every e-mail you
receive or by contacting us.</p>
<h4>COLLECTION of PERSONAL INFORMATION and PURPOSE THEREOF</h4>
<p>AIRDELY collects and stores information about every parcel it handles in order to enable
efficient provision of parcel delivery services demanded by its customers. AIRDELY
uses information about its customers, their packages, and their shipping activity to
provide or enhance the services it makes available to its customers, communicate with its
customers about additional services they may find of value, satisfy our legitimate
business interests (including performing trend analysis and market studies), set prices,
establish credit, accomplish the billing function, and comply with government regulations
applicable to us or our subsidiaries.</p>
<p>Any Personal Information which we collect will be used solely for the purpose of
providing our services, and we will not store it for any longer period than is legally
permissible and required for this purpose.</p>
<h4>THIRD PARTIES</h4>
<p>As we collect and use information about our customers, we may contract with vendors to
assist us in processing that information for those purposes listed in the previous
paragraph. In addition, we may ask our subsidiaries to process information, for those
purposes, on our behalf. These vendors and/or subsidiaries are required to maintain the
confidentiality of the information and are restricted from using the information for any
other purpose. In addition, as we continue to develop our business, we may buy or sell
subsidiaries or business units. As part of these transactions, customer information of the
subsidiaries or business units may be one of the transferred assets.</p>
<p>We will monitor on an ongoing basis compliance with the provisions of the applicable
local legislation and regulations by third party processors, such as suppliers and
contractors, of Personal Information held by us.</p>
<p>We use external parties for a number of services. When we make use of external parties,
it may happen that we share your personal data with these parties. Most external parties
support us in delivering the product or service you request. In some cases it may involve
additional services, such as facilitating marketing activities. Naturally, we make good
agreements with these parties about the careful handling of your personal data.</p>
<h4>AIRDELY WEBSITES</h4>
<p>The following paragraphs describe our commitment to the protection of Personal
Information as it applies to the AIRDELY websites.</p>
<p>Except as otherwise stated, we may use your information to improve the content of our
website, to customize the website to your preferences, to communicate information to
you (if you have requested it), for our marketing and research purposes, and for other
purposes specified in this Privacy Policy. We may disclose your Personal Information
where required by applicable laws, court orders, or government regulations.</p>
<p>Users can visit most areas of this website without revealing who they are or without
providing any information about themselves. However, some of our interactive services
require that users identify themselves in order to enable the interactive function. On this
website AIRDELY may ask users to provide Personal Information. We may share such
information with our subsidiaries.</p>
<p>In order to continuously improve our website, we keep records about the use of our
website by our visitors. For this we use cookies. Examples of data we keep are:</p>
<ul>
  <li>a. The number of visitors per day.</li>
  <li>b. The average length of stay on the AIRDELY website.</li>
  <li>c. The number of clicks before a certain action is performed.</li>
  <li>d. The settings of your device that your browser sends to us, with which you
  may be uniquely identifiable and your website visit can be followed.</li>
</ul>
<p>We may share this data, which may in certain circumstances be personal data, with third
parties that carry out analyses for us, such as Google Analytics.<p>
<h4>AIRDELY MOBILE APPLICATIONS</h4>
<p>When you use our apps, we keep information about how you use them. With this
information we gain insight into how the apps are used and we can improve them. We
keep this information for a limited time. Cookies are also stored to make the apps work as
optimally as possible. Our apps may ask for permission to use certain data from your
device to provide certain features (such as access to the camera and the GPS function).</p>
<h4>ACTIVE COLLECTION of PERSONAL INFORMATION</h4>
<p>During your visit of this website, AIRDELY actively collects information from its
visitors both by asking you specific questions and by permitting you to communicate
directly with us via e-mail. Some of the information that you submit may be Personal
Information.</p>
<p>Some areas of this website may require you to submit Personal Information in order for
you to benefit from the specified features (such as e-mail alerts or newsletter
subscriptions). You will be informed at each information collection point which
information is required and for which purpose.</p>
<h4>PASSIVE COLLECTION of PERSONAL INFORMATION</h4>
<p>As you navigate through a website, certain information can be passively collected (that is,
gathered without your actively providing the information) using various technologies and
means, such as Internet Protocol addresses, cookies, Internet tags and navigational data
collection.</p>
<p>This website uses Internet Protocol (IP) addresses. An IP Address is a number assigned to
your computer by your Internet service provider so you can access the Internet. We use
your IP address to diagnose problems with our server, report aggregate information,
determine the fastest route for your computer to use in connecting to our site, and
administer and improve the site.</p>
<h4>DOWNLOADS</h4>
<p>AIRDELY collects personal data when downloading AIRDELY documents, manuals and
reports. When you download a document, you agree that you can be contacted by
AIRDELY.</p>
<h4>DATA INTEGRITY</h4>
<p>AIRDELY processes personal information only in accordance with this Policy or any
applicable service-specific privacy notice. We review our data collection, storage and
processing practices to ensure that we only collect, store and process the personal
information needed to provide or improve our products and services. We take reasonable
steps to ensure that the personal information we process is accurate, complete, and
current, but we depend on our users to update or correct their personal information
whenever necessary. Customers of AIRDELY may update or change the personal
information they have provided to AIRDELY by logging into the Service and providing
such information where applicable. AIRDELY will retain personal information we
process on behalf of our customers for as long as needed to provide the Service to our
customers. We may further retain and use this personal information as necessary to
comply with our legal obligations, resolve disputes, maintain accurate accounting,
financial and other operational records and enforce our agreements. AIRDELY has not
direct relationship with the individuals with whom our customers may interact using the
Service. Any such individual seeking access to, or who would like to correct, amend or
delete data that may be stored in the Service should direct his or her inquiry to the
applicable AIRDELY customer.</p>
<h4>SECURITY</h4>
<p>AIRDELY takes all steps reasonably possible to protect your Personal Information as
collected by AIRDELY in using this website and to protect such Personal Information
from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. You
should keep in mind that internet transmission is not 100% secure or error-free. In
particular, e-mail sent to or from this website may not be secure, and you should
therefore take special care in deciding what information you send to us via e-mail.
Moreover, where you use passwords, ID numbers, or other special access features on this
site, it is your responsibility to safeguard them.</p>
<h4>SOCIAL MEDIA</h4>
<p>AIRDELY uses social media to keep you informed. No conditions from AIRDELY are
linked to the use of social media. You agree with the conditions of the social media
platform.</p>
<p>We also use the features of social media platforms. AIRDELY has no influence on what
data social media platforms collect from you. You can find the details of this in the
conditions of the social media platform.</p>
<h4>CAMERAS</h4>
<p>All our offices are equipped with cameras. This is important for your safety, but also for
those of our colleagues and property. The camera images are kept for a limited amount of
time, unless there are good reasons to keep the images for a longer time, for example for
a police investigation. The video and photo images can also serve as a proof of business
transaction if there is any dispute arises.</p>
<h4>WiFi</h4>
<p>You can use the Wi-Fi network during a visit to one of our offices. Once you are logged
into our Wi-Fi network, data is automatically collected from your device. These data are
stored for a limited time and are only used to prevent possible misuse. If illegal activities
take place from our Wi-Fi network, we can block the access of the device you use with
our Wi-Fi network.</p>
<h4>VISITING OUR OFFICE</h4>
<p>We keep track of who visits our offices. This is important for your safety, but also for
those of our colleagues and property. We keep this data for a limited amount of time.</p>
<h4>NOTIFICATIONS and PROMOTIONS</h4>
<p>We can send you relevant notices and notifications about the operational status of our
services. We use your personal data to determine the relevance of the reporting. We offer
you the possibility to subscribe or unsubscribe for certain announcements and
notifications.</p>
<h4>AGGREGATED INFORMATION</h4>
<p>In an ongoing effort to better understand and serve our Customers, AIRDELY often
conducts research on its customer demographics, interests and behaviour based on the
personal and other information provided to us. This research may be compiled and
analyzed on an aggregate basis, and AIRDELY may share or otherwise publish or
distribute this aggregate data. This aggregate information does not identify you
personally. AIRDELY may also disclose aggregated user statistics in order to describe
Our Service to current and prospective business partners, customers and to other third
parties for other lawful purposes.</p>
<h4>YOUR OPINION COUNTS</h4>
<p>In order to improve our service we find it important to get to know our customers well.
We can use customer data to ask if our customers want to participate in a customer or
market research. We keep the results of the research for a limited period of time.</p>
<h4>CONTACT OUR CUSTOMER SERVICE</h4>
<p>Our Customer Service can be reached via telephone or mail. In order to help our
customers well and quickly, we use personal information. We also use this information to
keep our customers informed of their request or complaint. We save questions and
complaints for a limited amount of time.</p>
<h4>ACKNOWLEDGEMENT and CONSENT</h4>
<p>By communicating with AIRDELY, using AIRDELY’s services, purchasing products
from AIRDELY or by virtue of your engagement with AIRDELY, you acknowledge that
you have read and understood this Notice and agree and consent to the use, processing
and transfer of your Personal Data by AIRDELY as described in this Notice.
AIRDELY shall have the right to modify, update or amend the terms of this Notice at any
time by placing the updated Notice on the Websites. By continuing to communicate with
AIRDELY, by continuing to use AIRDELY’s services, purchasing products from
AIRDELY or by your continued engagement with AIRDELY following the
modifications, updates or amendments to this Notice, such actions shall signify your
acceptance of such modifications, updates or amendments. In the event of any conflict
between the English and other language versions, the English version shall prevail.
Updated as of 03 January 2019</p>
{% endif %}
</div>
</div>

   

  </body>
</html>